.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkbox {
  margin: 6px 10px 5.8px 3px;
  border-radius: 2px;
  border: solid 1px #c6c4d2;
  width: 5%;
  float: left;
  font-size: 16px;
}

.description {
  padding-bottom: 1px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
}

.container {
  margin-bottom: 0px !important;
  margin-top: 2px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.command {
  padding: 0px 5px;
  background: 'black';
  color: green;
}

.file {
  padding: 0px 5px;
  background: 'black';
  color: orange;
}